.gameCell, .gameCellWin {
    display: inline-block;
    margin: 2px;
    align-self: center;
    aspect-ratio: 1;
    box-sizing: border-box;
    background-color: #ffff;
    text-align: center;
    vertical-align: middle;
}

.icon {
    width: 60%;
    height: 60%;
    margin-top: 20%;
    fill: #000
}
.gameCellWin {
    background-color: #CECE5A;
}